@mixin form($options:()) {
    $defaults:map-merge((
        grid:12,
        prefix:'lg',
        breakpoint:1024px
    ),$options);
    @include nested(map-get($defaults,grid)) {
        .row {
            margin-left: - gutter();
            margin-right: - gutter();
            @include clearfix;
        }
        .col {
            width: 100%;
            margin-bottom: gutter()*2;
            @include gutter();
        }
        @include breakpoint(map-get($defaults,breakpoint)){
            @for $i from 1 through map-get($defaults,grid) {
                .col-#{map-get($defaults,prefix)}-#{$i}{ 
                    @include span($i);
                }
            }
        }
    }
}