body{
    @include breakpoint($breakpoint-menuMobile) {
        padding-top: 70px;
    }
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

object{
    position: absolute;
    z-index: -1;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}


p{
    color: #868383;
    // font-family: $proximaRegular;
    font-size: 18px;
    margin: 0;
    margin-bottom: 18px;
}
