body{
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

object{
    position: absolute;
    z-index: -1;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}


p{
    margin: 0;
}
