$color-brand-orange           : #ff5400;
$color-brand-gray             : #1c1c1c;

$color-neutral-white          : #fff;
$color-neutral-lightgray      : #bbbbbb;
$color-neutral-gray           : #666;
$color-neutral-black          : #1c1c1c;

$color-utility-negative       : #d02e2e;
$color-utility-negative-subtle: #dcb8b8;

$color-utility-positive       : #56ad6a;
$color-utility-positive-subtle: #d4f3e6;