@include border-box-sizing;

$nomeDaFont  : ' ';

$fonts : $nomeDaFont;
@each $font in $fonts{
    @include font-face($font, font-files( '#{$font}.woff' , '#{$font}.ttf' ) , '#{$font}.eot', true);
}

*{
    font-family: $nomeDaFont;
    font-style: normal;
    font-weight: normal;
    outline: none;
}
