$susy: (
    columns: 12,
    gutters: 1/4,
    container: 1370px,
    gutter-position: inside,
    global-box-sizing: border-box
);
@include border-box-sizing;

$mobile:0 767px;
$mobile-up:768px;
$mobile-s:0 480px;
$ipad:0 1024px;
$ipad-s:0 890px;
$desktop-s:0 1280px;
