$susy: (
    columns: 12,
    gutters: 1/4,
    container: 1370px,
    gutter-position: inside,
    global-box-sizing: border-box
);
@include border-box-sizing;

$mobile:0 767px;
$mobile-up:768px;
$mobile-s:0 480px;
$ipad:0 1024px;
$ipad-s:0 890px;
$desktop-s:0 1280px;

$layer1:1;
$layer2:2;
$layer3:3;
$layer4:4;
$layer5:5;

$easeDefault: cubic-bezier(0.420, 0.000, 0.000, 0.995);